<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="PrevCaseworkEnvironment" value="Preview"/>
    <add key="PrevCaseworkApiUrl" value="http://192.168.39.229:5004"/>
    <add key="CaseworkEnvironment" value="Dev"/>
    <add key="CaseworkApiUrl" value="http://localhost:5006"/>
  </appSettings>
</configuration>
