<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="CaseworkEnvironment" value="Preview"/>
    <add key="CaseworkApiUrl" value="http://192.168.39.229:5004/"/> 
  </appSettings>
</configuration>
